<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar Película</title>
    <link rel="stylesheet" href="../static/animations.css" />
  </head>
  <body>
    <div class="background">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h1>Buscar Información de Películas</h1>
    <div class="search">
      <img
        src="../static/img/undraw_netflix_qmju.svg"
        alt="undraw_netflix_qmju"
      />
      <div class="search-info">
        <form action="/search" method="POST">
          <label for="movie_title">Ingresa el título de la película:</label>
          <input type="text" id="movie_title" name="movie_title" required />
          <button class="btn" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </body>
    <footer class="foot">2024 | Josmary Pirela & Edward Villalobos</footer>
</html>
